@import '_tolebo.less';

#content {
    padding-bottom: 35px;
    margin: 16px 30px 0;
    overflow: auto;

    #home {
        text-align: center;
        h1 {
          margin-bottom: 16px;
        }

        .container {
            width: 720px;
        }

        #login {
            margin: 16px 0 30px;
        }
    }

    #projects {
        overflow: auto;
        .project {
            overflow: auto;
            list-style: none;
            text-align: center;
            width: 30%;
            margin: 0 3% 3% 0;
            float: left;
            overflow: hidden;
            .radius(3px);
            background-color: #38383C;
            box-shadow: 0 0 12px rgba(0,0,0,0.4);
            -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.4);
            -moz-box-shadow: 0 0 12px rgba(0,0,0,0.4);

            &:hover {
                background-color: #444455;
                .milestones a {
                  color: white;
                }
            }

            .title {
                padding: 6px 14px;
                background-color: #B5B5BC;
                a {
                    text-transform: capitalize;
                    font-size: 14px;
                    color: #333;
                }
            }

            .milestones {
                list-style: none;
                margin: 10px;

                a {
                    text-decoration: none;
                    color: #B0B0EE;
                    font-size: 14px;
                    padding: 6px;
                    display: block;
                }
            }
        }
    }

    #ProjectSelector {
        & > div > label {
            font-weight: bold;
            font-size: 16px;
            color: white;
            padding-bottom: 10px;
        }

        .form_projects {
            overflow: auto;
            border-bottom: 1px solid #1C1E22;
            padding-bottom: 6px;
            margin-bottom: 20px;

            .field {
                float: left;
                width: 50%;
                margin-bottom: 10px;

                .toggle-button {
                   margin-right: 10px;
                }

                label {
                    font-weight: bold;
                    cursor: pointer;
                    color: white;
                    line-height: 26px;
                }
            }
        }
    }
}

#footer {
    clear: both;
    margin: 16px 30px;
    text-align: center;
    height: 35px;
}

#loader {
  width: 350px;
  height: 150px;
  margin: auto;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "Generating data for the first time. Hang tight for a moment...";
  }
}

fieldset {
    legend {
        border: none;
        margin-bottom: 16px;
        overflow: auto;
    }
}
