{% use 'form_div_layout.html.twig' %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div class="form_projects">
    {% for child in form %}
        <div class="field">
            <div class="pull-left toggle-button">
                {{ form_widget(child) }}
            </div>
            {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
