{% extends "layout.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div id="home">
  <h1>See your GitHub projects progress at a glance.</h1>
  <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis neque ac velit porttitor auctor. Duis vel orci leo, non suscipit ligula. Integer tincidunt nulla a turpis volutpat vehicula. Mauris euismod sem nec nisi porttitor facilisis. Integer quis felis quam, ut fermentum orci. Nam dignissim cursus tincidunt. Vestibulum malesuada ultrices auctor. Proin lobortis pharetra est, ac ultrices ipsum ullamcorper eget. Nam at bibendum ipsum. Phasellus purus ligula, tempor at hendrerit non, fringilla id nisi. Mauris dignissim purus nec mi ornare pretium. Integer luctus placerat ultricies. Praesent iaculis vestibulum lorem ac tempor. Duis erat nisl, lacinia eget gravida id, aliquam ornare nibh. Nunc condimentum condimentum libero et laoreet. Nullam augue turpis, mattis sed egestas quis, rhoncus sed nunc.</p>
</div>
  <a href="{{ path('oauth') }}" id="login" class="btn btn-success btn-large"><span class="mini-icon octocat"></span> Login with your <strong>Github</strong> account</a>
</div>
{% endblock %}
