{% extends "layout.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<p><strong>Octoprogress</strong> is simple service that provides one screen </p>
<a href="{{ path('oauth') }}" id="login" class="btn btn-success btn-large"><span class="mini-icon octocat"></span> Login with your <strong>Github</strong> account</a>
{% endblock %}
