{% extends "layout.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="masthead">
	<a href="{{ path('oauth') }}" class="btn btn-success btn-large"><i class="icon-signin"></i> Connect with <strong>Github</strong></a>
</div>
{% endblock %}
