{% extends "layout.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div id="home">
  <h1>See your GitHub projects progress at a glance.</h1>
  <a href="{{ path('oauth') }}" id="login" class="btn btn-success btn-large"><span class="mini-icon octocat"></span> Login with your <strong>Github</strong> account</a>
</div>
{% endblock %}
