{% extends "layout.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div id="home">
  <h1>See your GitHub projects progress in a glance.</h1>
  <div class="container">
    <a href="{{ path('oauth') }}" id="login" class="btn btn-success btn-large"><span class="mini-icon octocat"></span> Login with your <strong>public</strong> Github account</a>
    <a href="{{ path('oauth_private') }}" id="login-private" class="btn btn-info btn-large"><span class="mini-icon octocat"></span> Login with your <strong>private</strong> Github account</a>
    <p>This app needs read/write access to your repositories, issues and milestones.<br />
      This is <strong>only</strong> used to display progress bar : Octoprogress does <strong>not</strong> write any informations.
    </p>
  </div>
</div>
{% endblock %}
