body {
    background-color: #323334;
}

.navbar .container {
    width: 1170px;
}

.navbar img.avatar {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #181920;
    margin-right: 6px;
}

.masthead .btn {
    padding: 14px 24px;
    font-size: 24px;
    font-weight: 200;
    color: white;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    margin: 170px auto 0;
    display: block;
    width: 280px;
}

.vcard img {
    padding: 5px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 210px;
    height: 210px;
    border: 1px solid #DDD;
}

.vcard .details {
    width: 210px;
    list-style: none;
    margin: 1em 0 0;
    padding: 1em 5px;
    border: 1px solid #DDD;
    border-width: 1px 0;
}

.vcard .details li {
    margin: .3em 0 0;
}

.vcard .details i {
    color: #DDD;
    margin: 0 5px 0 0;
}

.repositories .list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    border: 1px solid #EEE;
    border-width: 0 0 1px;
}

.repositories .list li {
    border: 1px solid #EEE;
    border-width: 1px 0 0;
}

.repositories .list li blockquote {
    color: #777;
}

.project {
    background-color: #282930;
    border: 1px solid #222;
    margin-left: 28px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.project h2 {
    font: bold 17px/20px Arial;
    padding: 12px 16px;
    color: #f2f2f2;
    margin: 0;
    background-color: #181920;
    border-bottom: 1px solid #202020;
}

.project .milestones {
    list-style: none;
    font: bold 17px/20px Arial;
}

.project .milestones li h3 {
    margin: 0px;
    color: #d3d4d5;
    font: bold 15px/20px Arial;
    padding: 10px 16px 10px 0;
}

.project .progress {
    float: right;
    width: 140px;
    margin-right: 0px;
}