{% extends "layout.twig" %}

{% block title %}
{{ user.login }} - Octoprogress
{% endblock %}

{% block content %}
<div id="loader"></div>
{% endblock %}

{% block javascripts %} {{ parent() }}
<script type="text/javascript">
var opts = {
  radius: 24,
  color: '#FFF',
};

var target = document.getElementById('loader');
var spinner = new Spinner(opts).spin(target);

var refreshUri = "{{ path('board_refresh') }}";
</script>

<script src="{{ app.request.basepath }}/octoprogress/js/refresh.js"></script>

{% endblock %}
