{% extends "layout.html" %}

{% block title %}
{{ user.name }} profile
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3 vcard">
        <img src="{{ user.avatarUrl }}"></a></span>
        <ul class="details">
            <li><i class="icon-user"></i>{{ user.name }} (<a href="{{ user.githubProfile }}">{{ user.login }}</a>)</li>
            <li><i class="icon-group"></i> {{ user.company }}</li>
            <li><i class="icon-globe"></i>{{ user.location }}</li>
            <li><i class="icon-link"></i><a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
            <li><i class="icon-refresh"></i><a href="{{ path('job_project_update') }}">refresh project</a></li>
        </ul>
    </div>
    <div class="span9 repositories">
        <ul class="list">
            {% for repository in repositories %}
            <li>
                <h3><i class="icon-book"></i>{{ repository.name }}</h3>
                {% if repository.description != "" %}
                <blockquote>{{ repository.description }}</blockquote>
                {% else %}
                <blockquote>No description found</blockquote>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
